Calificaciones2025.json
{
  "name": "Moodle Calificacion",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Actividad",
        "formDescription": "Sube tu actividad",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Actividad",
              "placeholder": "https://cursos.zacatecasocc.tecnm.mx/mod/assign/view.php?id=2987&action=grading"
            },
            {
              "fieldLabel": "wstoken",
              "requiredField": true
            },
            {
              "fieldLabel": "Calficacion Maxima",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Calificacion Minima",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Comentario Calificacion Max"
            },
            {
              "fieldLabel": "Comentario Calificacion Minima"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1632,
        208
      ],
      "id": "b1e1a92d-3205-447f-b5b3-1fc7fcd977e0",
      "name": "form submission Actividad",
      "webhookId": "71864ab8-67df-4049-aecc-ee406efe5529"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cursos.zacatecasocc.tecnm.mx/webservice/rest/server.php",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $json.wstoken }}"
            },
            {
              "name": "wsfunction",
              "value": "=core_course_get_course_module"
            },
            {
              "name": "moodlewsrestformat",
              "value": "=json"
            },
            {
              "name": "cmid",
              "value": "={{ $json.cmid }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        208
      ],
      "id": "693b6790-ad1b-4230-9bb3-d7c98abf4f45",
      "name": "HTTP Request: Obtener assignmentid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cursos.zacatecasocc.tecnm.mx/webservice/rest/server.php",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $('form submission Actividad').item.json.wstoken }}"
            },
            {
              "name": "wsfunction",
              "value": "mod_assign_get_submissions"
            },
            {
              "name": "moodlewsrestformat",
              "value": "=json"
            },
            {
              "name": "assignmentids[0]",
              "value": "={{ $('HTTP Request: Obtener assignmentid').item.json.cm.instance }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        208
      ],
      "id": "cca948d3-1eeb-4205-8746-82243bc685f4",
      "name": "HTTP Request : Obtener entregas"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst calificacionMaxForm = $('Datos de Formulario (Edit Fields)').first().json['Calficacion Maxima'];\nconst calificacionMinForm = $('Datos de Formulario (Edit Fields)').first().json['Calificacion Minima'];\n\n// Si en el formulario pones Max=1 y Min=0, entonces es escala Yes/No\nconst esEscalaYesNo = (calificacionMaxForm === 1 && calificacionMinForm === 0);\n\nfor (const item of $input.all()) {\n  const assignments = item.json.assignments;\n\n  for (const assignment of assignments) {\n    const assignmentId = assignment.assignmentid;\n\n    for (const submission of assignment.submissions) {\n      const entregado = submission.status === 'submitted';\n      let grade;\n      let mensaje;\n      \n      if (esEscalaYesNo) {\n        // Para escala Yes/No:\n        grade = entregado ? 2 : 1; // 2=Yes, 1=No\n        mensaje = entregado ? \n          $('Datos de Formulario (Edit Fields)').first().json['Comentario Calificacion Max'] : \n          $('Datos de Formulario (Edit Fields)').first().json['Comentario Calificacion Minima'];\n      } else {\n        // Calificación numérica normal\n        grade = entregado ? calificacionMaxForm : calificacionMinForm;\n        mensaje = entregado ? \n          $('Datos de Formulario (Edit Fields)').first().json['Comentario Calificacion Max'] : \n          $('Datos de Formulario (Edit Fields)').first().json['Comentario Calificacion Minima'];\n      }\n\n      results.push({\n        json: {\n          userid: submission.userid,\n          assignmentid: assignmentId,\n          grade: grade,\n          mensaje: mensaje,\n          entregado: entregado  // ⭐ IMPORTANTE: Agregar este campo\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        208
      ],
      "id": "c59dfe55-a006-4a16-a9f8-2cf0621ccb66",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cursos.zacatecasocc.tecnm.mx/webservice/rest/server.php",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $('form submission Actividad').item.json.wstoken }}"
            },
            {
              "name": "wsfunction",
              "value": "mod_assign_save_grade"
            },
            {
              "name": "moodlewsrestformat",
              "value": "=json"
            },
            {
              "name": "assignmentid",
              "value": "={{ $json.assignmentid }}"
            },
            {
              "name": "userid",
              "value": "={{ $json.userid }}"
            },
            {
              "name": "grade",
              "value": "={{ $json.grade }}"
            },
            {
              "name": "plugindata[assignfeedbackcomments_editor][format]",
              "value": "1"
            },
            {
              "name": "plugindata[assignfeedbackcomments_editor][text]",
              "value": "={{ $json.mensaje }}"
            },
            {
              "name": "attemptnumber",
              "value": "=-1"
            },
            {
              "name": "addattempt",
              "value": "=0"
            },
            {
              "name": "workflowstate",
              "value": "graded"
            },
            {
              "name": "applytoall",
              "value": "0"
            },
            {
              "name": "plugindata[files_filemanager]",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        208
      ],
      "id": "24118455-c6b2-46d2-8e3e-80b921af9a51",
      "name": "HTTP Request : guardar calificacion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d3469d6-eafd-4bfb-b7f0-a352b2f7e957",
              "name": "wstoken",
              "value": "={{ $json.wstoken }}",
              "type": "string"
            },
            {
              "id": "00bd871a-2992-4c1e-9cc6-f865a9ad037b",
              "name": "cmid",
              "value": "={{ $json.cmid }}",
              "type": "string"
            },
            {
              "id": "a46f5935-c46f-43e3-b05b-42adc6950e16",
              "name": "Calficacion Maxima",
              "value": "={{ $json['Calficacion Maxima'] }}",
              "type": "number"
            },
            {
              "id": "36ceadfe-8222-49aa-8789-6172928aa3e6",
              "name": "Calificacion Minima",
              "value": "={{ $json['Calificacion Minima'] }}",
              "type": "number"
            },
            {
              "id": "add2ecff-f224-46b9-a551-2f3c3436d79d",
              "name": "Comentario Calificacion Max",
              "value": "={{ $json['Comentario Calificacion Max'] }}",
              "type": "string"
            },
            {
              "id": "50aa58af-d0f0-46aa-867e-77fe3ffc8891",
              "name": "Comentario Calificacion Minima",
              "value": "={{ $json['Comentario Calificacion Minima'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        208
      ],
      "id": "a3f58ed0-9d79-49c0-9354-7db21e40919f",
      "name": "Datos de Formulario (Edit Fields)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c988df52-d53b-49f4-aabd-be786910a4a7",
              "name": "cm.grade",
              "value": "={{ $json.cm.grade }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        208
      ],
      "id": "c2681092-2d2d-4ed5-8681-4138f9cbed3e",
      "name": "Dato calificacion Maxima (Edit Fields)"
    },
    {
      "parameters": {
        "jsCode": "const total = $input.all().length;\n\nreturn [{\n  json: {\n    mensaje: `✅ Proceso ejecutado correctamente`,\n    afectados: total,\n    resumen: `Se calificaron ${total} tareas`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        208
      ],
      "id": "3e051d13-495f-4f5b-8f61-a17748d78e95",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>{{ $json.mensaje }}</h1>\n    <h2>{{ $json.afectados }}</h2>\n    <p>{{ $json.resumen }}</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3b66dce0-d738-418e-b270-42c64b25057e",
      "name": "HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6105925e-d074-42ad-901b-9528af522d55",
              "leftValue": "={{ $json.afectados }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        208
      ],
      "id": "183ef30e-e912-4b21-97b7-38c1552d251e",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>{{ $json.mensaje }}</h1>\n    <h2>{{ $json.afectados }}</h2>\n    <p>{{ $json.resumen }}</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        128,
        304
      ],
      "id": "841f73ef-8e00-4a7b-8f48-2cd61aaeffdc",
      "name": "HTML1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    mensaje: `❌ Error al ejecutar el proceso`,\n    afectados: 0,\n    resumen: `No se pudo calificar ninguna tarea`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        288
      ],
      "id": "ea37644d-91ef-492c-b740-fdbfbd45fe50",
      "name": "Code in JavaScript False"
    },
    {
      "parameters": {
        "jsCode": "const formData = $input.first().json;\n\n// Extraer cmid de la URL del campo \"Actividad\"\nlet cmid = formData.cmid || '';\n\nif (formData.Actividad) {\n  const match = formData.Actividad.match(/[?&]id=(\\d+)/);\n  if (match && match[1]) {\n    cmid = match[1];\n  }\n}\n\n// Retornar todos los datos del formulario con el cmid extraído\nreturn [{\n  json: {\n    Actividad: formData.Actividad,\n    wstoken: formData.wstoken,\n    cmid: cmid,\n    'Calficacion Maxima': formData['Calficacion Maxima'],\n    'Calificacion Minima': formData['Calificacion Minima'],\n    'Comentario Calificacion Max': formData['Comentario Calificacion Max'],\n    'Comentario Calificacion Minima': formData['Comentario Calificacion Minima']\n  }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        208
      ],
      "id": "713f3a32-cc5a-4106-be63-8c584f485317",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "form submission Actividad": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Obtener assignmentid": {
      "main": [
        [
          {
            "node": "Dato calificacion Maxima (Edit Fields)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request : Obtener entregas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request : guardar calificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos de Formulario (Edit Fields)": {
      "main": [
        [
          {
            "node": "HTTP Request: Obtener assignmentid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dato calificacion Maxima (Edit Fields)": {
      "main": [
        [
          {
            "node": "HTTP Request : Obtener entregas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request : guardar calificacion": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript False": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Datos de Formulario (Edit Fields)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf935475-8c47-4fc8-ac9a-872bba51e008",
  "meta": {
    "instanceId": "64f5bf0301c3051105f2e36ac3e2c040088ba838c2d3c251a41ebcd8b9347509"
  },
  "id": "zr8H7zMhbxD3ddtY",
  "tags": []
}
